@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*navegacao em tds as paginas*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
/*paleta de cores*/
:root {
    --laranja-primario: #ff6a00;
    --cor-branco: #fff;
    --cor-cinza: #aaa;
    --cor-preto: #0b0b0f;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; /*garante que nao tera sobreposicao de outro elemento*/
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px); /*efeito de blur na nav*/
    height: clamp(50px, 100%, 100px);

    border-bottom: 1px solid rgba(255, 106, 0, 0.15);
}
/*logo*/
.logo {
    width: 6rem;
    height: auto;
}
/*links*/
.navbar nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #ccc;
    font-size: 16px;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: var(--laranja-primario);
}
/*botao solucao*/
.btn-nav {
    background: transparent;
    border: 1px solid var(--laranja-primario);
    color: var(--laranja-primario);
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.btn-nav:hover {
    background: var(--laranja-primario);
    color: var(--cor-branco);
    box-shadow: 0 0 15px rgba(255,106,0,0.5);
}